.service-card {
  position: relative;
  width: 350px;
  height: 450px;
  background: #000;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 20px 20px 40px #808080, -20px -20px 40px #ffffff;
}

.service-card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1bbfe9;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}

.service-card:hover:before {
  clip-path: circle(300px at 80% -20%);
}

.service-card:hover .imgBx {
  top: 0%;
  transform: translateY(-25%);
}

.service-card:hover .contentBx {
  height: 170px;
}

.service-card:hover .size,
.service-card:hover .color {
  opacity: 1;
  visibility: visible;
  color: #fff;
}

.service-card:hover button {
  opacity: 1;
  transform: translateY(0px);
}

.service-card:after {
  content: "Pet's";
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: #1d1d1d;
}

.service-card .imgBx {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.service-card .imgBx img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  object-fit: contain;
  transform: translate(-50%, -50%);
}

.service-card .contentBx {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 1;
}

.contentBx h2 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.contentBx .size,
.service-card .contentBx .color {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.contentBx button {
  display: inline-block;
  padding: 10px 20px;
  background: #1bbfe9;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .service-card {
    width: 350px;
    height: 52vh;
  }

  .imgBx img {
    height: 200px;
    border-radius: 10px;
    /* border: 2px solid black; */
  }
}
